Milestone 3

Nama  : Muhammad Nur Alamsyah

Batch : FTDS-023-RMT

Program ini dibuat untuk mengimplementasikan Great Expectation pada dataset NYC Property Sales

In [3]:
# Create a data context

from great_expectations.data_context import FileDataContext

context = FileDataContext.create(project_root_dir='./')

In [4]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'P2M3_nur_alamsyah_data_clean.csv'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'nyc-sales'
path_to_data = 'C:\\Users\LENOVO\\github-classroom\\FTDS-assignment-bay\\p2-ftds023-rmt-m3-Nur47-blip\\P2M3_nur_alamsyah_data_clean.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

In [5]:
# Creat an expectation suite
expectation_suite_name = 'nyc-sales-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name
)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,ease_ment,building_class_at_present,address,apartment_number,...,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
0,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392.0,6.0,NaN,C2,153 AVENUE B,NaN,...,5.0,0.0,5.0,1633,6440,1900.0,2.0,C2,6625000,2017-07-19
1,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402.0,21.0,NaN,C4,154 EAST 7TH STREET,NaN,...,10.0,0.0,10.0,2272,6794,1913.0,2.0,C4,3936272,2016-09-23
2,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404.0,55.0,NaN,C2,301 EAST 10TH STREET,NaN,...,6.0,0.0,6.0,2369,4615,1900.0,2.0,C2,8000000,2016-11-17
3,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406.0,32.0,NaN,C4,210 AVENUE B,NaN,...,8.0,0.0,8.0,1750,4226,1920.0,2.0,C4,3192840,2016-09-23
4,1.0,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387.0,153.0,NaN,D9,629 EAST 5TH STREET,NaN,...,24.0,0.0,24.0,4489,18523,1920.0,2.0,D9,16232000,2016-11-07

**Expectations**

In [6]:
# Expectation 1 : Min Value dari sale price adalah 0 dan max value nya 10000000000

validator.expect_column_values_to_be_between(
    column='sale_price', min_value=0, max_value=10000000000
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 44149,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [7]:
# Expectation 2 : Type dari sale price haruslah numeric (integer/float)

validator.expect_column_values_to_be_in_type_list('sale_price', ['int64', 'float'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "int64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [8]:
# Expectation 3 : Cek to be in set untuk kolom borough

validator.expect_column_distinct_values_to_be_in_set("borough", [1., 2., 3., 4., 5.])

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      1.0,
      2.0,
      3.0,
      4.0,
      5.0
    ],
    "details": {
      "value_counts": [
        {
          "value": 1.0,
          "count": 965
        },
        {
          "value": 2.0,
          "count": 5934
        },
        {
          "value": 3.0,
          "count": 21157
        },
        {
          "value": 4.0,
          "count": 11052
        },
        {
          "value": 5.0,
          "count": 5041
        }
      ]
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [9]:
# Expectation 4: Cek row count

validator.expect_table_row_count_to_equal(44149)

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 44149
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [10]:
# Expectation 5: Cek Unique 

validator.expect_column_values_to_be_unique('address')

# Note: sayangnya tidak ada kolom unik di data, karena address dituliskan secara terpisah menjadi 3 kolom

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 44149,
    "unexpected_count": 8309,
    "unexpected_percent": 18.82035833201205,
    "partial_unexpected_list": [
      "219 WEST 15TH STREET",
      "219 WEST 15TH STREET",
      "219 WEST 15TH STREET",
      "782 HART STREET",
      "9 EAST 16TH   STREET",
      "9 EAST 16TH   STREET",
      "251 7TH STREET",
      "252 WEST 132 STREET",
      "252 WEST 132 STREET",
      "49 WEST 119 STREET",
      "49 WEST 119 STREET",
      "11 WEST 116 STREET",
      "11 WEST 116 STREET",
      "337 EAST 115 STREET",
      "337 EAST 115 STREET",
      "337 EAST 115 STREET",
      "404 WEST 146",
      "404 WEST 146",
      "439 WEST 202 STREET",
      "439 WEST 202 STREET"
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 18.82035833201205,
    "unexpected_percent_nonmissing": 18.82035833201205
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [11]:
# Expectation 6: Cek most common value di kolom tax

validator.expect_column_most_common_value_to_be_in_set('tax_class_at_time_of_sale', [1])

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      1.0
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [12]:
# Expectation 7: Cek panjang kolom address

validator.expect_column_value_lengths_to_be_between(
    column="address", min_value=1, max_value=1000
)

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 44149,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}